.telStyles {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tel__error {
	position: absolute;
	left: 0;
	top: 3.5px;
	padding: 14px 14px 12px 14px;
	margin: 0 16px;
	display: flex;
	align-items: center;
	gap: 9.5px;
	background-color: #f5f5f5;
	border-radius: 24px;
}

.tel__error__title {
	font-family: 'SF Pro Rounded';
	font-weight: 600;
}

.tel__error__text {
	font-family: 'SF Pro Rounded';
	font-weight: 400;
}

.tel__error__icon {
	width: 32.5px;
	height: 32.5px;
	border: 3px solid #fff;
	border-radius: 7px;
}

.tel__error__content {
	flex: 1;
}

.tel__heading {
	margin-top: 37px;
	margin-bottom: 46px;
	display: grid;
	gap: 4px;
}

.tel__heading__title {
	font-family: 'SF Pro Rounded';
	font-weight: 700;
	font-size: 30px;
	color: #2b3134;
}

.tel__heading__text {
	font-family: 'SF Pro Display';
	font-weight: 300;
	font-size: 15px;
	color: #656972;
}

.tel__form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.tel__form__label {
	margin-left: 9px;
	font-family: 'SF Pro Rounded';
	font-weight: 400;
	font-size: 13px;
	color: #999ea7;
}

.tel {
	margin-top: 7px;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	border: 1px solid #f2f2f5;
	border-radius: 16px;
}

.tel:focus-within {
	border-color: #edcab8;
}

.tel__prefix {
	margin-left: 4px;
	font-family: 'SF Pro Rounded';
	font-weight: 400;
	font-size: 16px;
	color: #020e22;
}

.tel__input {
	height: fit-content;

	border: none;
	background: none;

	text-align: left;
	font-family: 'SF Pro Rounded';
	font-weight: 400;
	font-size: 16px;
	color: #020e22;
}

.tel__input:focus-visible {
	outline: none;
	border-color: #edcab8;
}

.tel__load {
	border-color: #2d2d2d;
}

.tel__icon {
	width: 21px;
	height: 16px;
}

.tel__button {
	border: none;
	background: none;

	width: 20px;
	height: 20px;
}

.tel__button__icon {
	width: 20px;
	height: 20px;
}

.tel__submit {
	flex: 1;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 25px;
}

.tel__submit__button {
	padding: 16px 0;
	width: 100%;
	border: none;
	border-radius: 16px;
	background-color: #343434;
	font-family: 'SF Pro Rounded';
	font-weight: 500;
	font-size: 17px;
	text-align: center;
	color: #fff;
}

.tel__submit__button:active {
	background-color: hsl(0, 0%, 40%);
}

.tel__submit__text {
	font-family: 'SF Pro Rounded';
	font-weight: 300;
	font-size: 15px;
	color: #656972;
	text-align: center;
}

.tel__submit__text__link {
	font-family: 'SF Pro Rounded';
	font-weight: 400;
}

.tel__loader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	transform: translateX(-16px);
}

.tel__loader__dim {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.tel__loader__icon {
	position: relative;
	z-index: 20;
}

.smsStyles {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.smsStyles__backButton {
	margin: 6px 0;
	display: flex;
	align-items: center;
	gap: 7px;
	background: none;
	border: none;
}

.smsStyles__backButton__text {
	font-family: 'SF Pro Rounded';
	font-weight: 400;
	font-size: 17px;
	color: #2b3134;
}

.smsStyles__heading {
	margin-bottom: 10px;
}

.smsStyles__heading__title {
	margin: 4px 0;
	font-family: 'SF Pro Rounded';
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.smsStyles__heading__text {
	font-family: 'SF Pro Display';
	font-weight: 300;
	font-size: 15px;
	color: #656972;
}

.form__digits {
	margin: 10px 0;
	display: flex;
	gap: 16px;
}

.form__input {
	width: 50px;
	height: 55px;
	font-family: 'SF Pro Rounded';
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	border: 1.5px solid #868686;
	border-radius: 12px;
}

.form__input:focus-visible {
	outline: none;
	border-color: #edcab8;
	caret-color: transparent;
}

.smsStyles__form {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form__resendText {
	padding-top: 5px;
	color: #656972;
	font-family: 'SF Pro Display';
	font-weight: 300;
	font-size: 15px;
}

.form__button {
	padding: 16px 0;
	margin-bottom: 15px;
	width: 100%;
	border: none;
	border-radius: 16px;
	background-color: #343434;
	font-family: 'SF Pro Rounded';
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #fff;
}

.form__button:active {
	background-color: hsl(0, 0%, 30%);
}
