.main {
	position: relative;

	display: flex;
	flex-direction: column;
}

.main .error {
	position: absolute;
	top: 3.5px;

	padding: 14px 14px 12px 14px;
	/* margin-top: 3.5px;
	margin-bottom: 12.5px; */

	display: flex;
	align-items: center;
	gap: 9.5px;

	background-color: #f5f5f5;
	border-radius: 24px;
}

.main .error h4 {
	font-weight: 600;
}

.main .error p {
	font-weight: 400;
}

.main .error svg {
	width: 32.5px;
	height: 32.5px;

	border: 3px solid #fff;
	border-radius: 7px;
}

.main .error div {
	flex: 1;
}

.main .heading {
	margin-top: 37px;
	margin-bottom: 46px;

	display: grid;
	gap: 4px;
}

.main .heading h2 {
	font-weight: 700;
	font-size: 30px;

	color: #2b3134;
}

.main .heading p {
	font-weight: 300;
	font-size: 15px;
	color: #656972;
}

.main form {
	flex: 1;

	display: flex;
	flex-direction: column;
}

.main form label {
	margin-left: 9px;

	font-weight: 400;
	font-size: 13px;
	color: #999ea7;
}

.main .tel {
	margin-top: 7px;
	padding: 12px 16px;

	display: flex;
	align-items: center;

	border: 1px solid #f2f2f5;
	border-radius: 16px;
}
.main .tel:focus-within {
	border-color: #edcab8;
}

.main .tel p {
	margin-left: 4px;

	font-weight: 400;
	font-size: 16px;
	color: #020e22;
}

.main .tel input {
	flex: 1;
	height: fit-content;

	border: none;
	background: none;

	text-align: left;
	font-weight: 400;
	font-size: 16px;
	color: #020e22;
}
.main .tel input:focus-visible {
	outline: none;
	border-color: #edcab8;
}
.main .telLoad {
	border-color: #2d2d2d;
}

.main .tel button {
	all: unset;
	width: 20px;
	height: 20px;
}

.main .submit {
	margin-top: auto;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 25px;
}

.main .submit button {
	z-index: 1;

	padding: 16px 0;

	width: 100%;

	border: none;
	border-radius: 16px;
	background-color: #343434;

	font-weight: 600;
	font-size: 17px;
	text-align: center;

	color: #fff;
}

.main .submit p {
	font-size: 15px;
	color: #656972;
	text-align: center;
}
.main .submit span {
	font-weight: 400;
}

.load {
	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	place-content: center;
	transform: translateX(-16px);
}
.load .dim {
	position: absolute;
	z-index: 10;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.3);
}
.load svg {
	position: relative;
	z-index: 20;
}
