/* SF Pro Display */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/src/assets/fonts/SF-Pro-Light.ttf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

/* SF Pro Rounded */
@font-face {
	font-family: 'SF Pro Rounded';
	src: url('/src/assets/fonts/SF-Pro-Rounded-Light.ttf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Rounded';
	src: url('/src/assets/fonts/SF-Pro-Rounded-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Rounded';
	src: url('/src/assets/fonts/SF-Pro-Rounded-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Rounded';
	src: url('/src/assets/fonts/SF-Pro-Rounded-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

/* SF Pro */
@font-face {
	font-family: 'SF Pro';
	src: url('/src/assets/fonts/SF-Pro-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro';
	src: url('/src/assets/fonts/SF-Pro-Semibold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s ease-out;

	font-family: serif;
}

main {
	padding: 0 16px;

	width: 393px;
	height: 765px;

	background-color: #fcfcfc;
}

button:disabled {
	background-color: #b4b4b4 !important;
}

#root {
	position: relative;

	min-height: 100vh;

	display: grid;
	place-content: center;
	background-color: lightgray;

	overflow-y: hidden;
}
